*{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

h1{
    font-size: 2rem;
}


/*CABEÇALHO*/
header{
    display: flex;
    justify-content: space-between;
    padding: 1rem 31.25rem 1rem 9.3rem;
    background-color: gray;
}

/*INPUTS*/
.secao-1{
    margin-top: 6.25rem;
    padding-left: 9.3rem;
}

input{
    margin-right: 1.25rem;
    height: 2.2rem;
    padding-left: 0.75rem;
    font-size: 1rem;
}

#input-nome{
    width: 15rem
}

#input-preco, #input-quantidade{
    width: 8rem
}

.button-adicionar{
    height: 2.46rem;
    width: 5.3rem;   
}

.linha-inputs{
    margin-left: 8.8rem;
    margin-top: 0.6rem;
    width: 45rem
}


/*LISTA DE COMPRA*/
main > h1{
    margin: 6rem 0 3rem 9.3rem;
}

#lista-de-compras{
    margin-left: 9.3rem;
    list-style: none;
}



















@media (max-width: 768px) {
    body{
        background-color: white;
    }

    header{
        padding: 0;
    }
}